.expense-list {
  width: 100%;
  max-width: 420px;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.65rem;
  margin-bottom: 0.5rem;

  background: var(--background-color);
  border-radius: 10px;
}

.expense-negative .amount {
  color: #a01717;
}

.expense-positive .amount {
  color: #1d4ed8;
}

.description {
  font-size: 0.7rem;
  margin-bottom: 0.25rem;
  color: var(--primary-color);
}
.category {
  font-size: 0.95rem;
  color: var(--secondary-color);
}

.amount {
  font-weight: 600;
}