<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <AccountUsername>bradley.erskine75@gmail.com</AccountUsername>
    <ApiMToolType>OpenApi</ApiMToolType>
    <ApiSpecificationFile>swagger.json</ApiSpecificationFile>
    <AzureServiceName>expense-tracker-api</AzureServiceName>
    <AzureServiceResourceGroup>expense-tracker-api_group</AzureServiceResourceGroup>
    <AzureServiceResourceId>/subscriptions/6a850698-dd31-4bc5-82be-9a4918377014/resourceGroups/expense-tracker-api_group/providers/Microsoft.Web/sites/expense-tracker-api</AzureServiceResourceId>
    <AzureServiceResourceType>Microsoft.Web/sites</AzureServiceResourceType>
    <AzureServiceSubscriptionId>6a850698-dd31-4bc5-82be-9a4918377014</AzureServiceSubscriptionId>
    <AzureServiceSubscriptionName>Azure subscription 1</AzureServiceSubscriptionName>
    <AzureWebSite>/subscriptions/6a850698-dd31-4bc5-82be-9a4918377014/resourceGroups/expense-tracker-api_group/providers/Microsoft.Web/sites/expense-tracker-api (Microsoft.WebTools.Azure.Client.Entities.Website)</AzureWebSite>
    <DotNetCoreVersion>10.0.x</DotNetCoreVersion>
    <DotNetVersionSupportDisposition>FullySupported</DotNetVersionSupportDisposition>
    <DoNotUseSPN>true</DoNotUseSPN>
    <GitWorkflowCredentialsHandlerId>WebSite</GitWorkflowCredentialsHandlerId>
    <GitWorkflowFactoryId>appServiceApiMGitHubWorkflowFactory</GitWorkflowFactoryId>
    <GitWorkflowTemplatePath>workflows/github/azureAppServiceApiMWindows.yml</GitWorkflowTemplatePath>
    <IsLinuxAzureService>false</IsLinuxAzureService>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <ProjectName>expense_tracker</ProjectName>
    <ProjectOutputPath>publish</ProjectOutputPath>
    <ProjectPath>.</ProjectPath>
    <SiteUrlToLaunchAfterPublish>https://expense-tracker-api-bcdab4eafsf0g3d2.australiaeast-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <SwashBuckleAspNetCoreCliVersion>8.1.1</SwashBuckleAspNetCoreCliVersion>
    <SwashBuckleDotNetCoreVersion>8.x</SwashBuckleDotNetCoreVersion>
    <TargetFrameworks>System.Collections.Generic.List`1[System.String]</TargetFrameworks>
    <TenantId>bd69cc1b-4761-4430-bdf1-184b25deedb1</TenantId>
  </PropertyGroup>
</Project>