

.import_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    // height: 15vh;
    // justify-content: space-evenly;
    background: rgba(171, 184, 240, 0.329);
    align-items: center;
}

.import_button {

    display: inline-block;
    padding: 0.4em 0.4em;
    // margin-bottom: 0.4em;

    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 2%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    // align-self: center;

    // display: flex;

}

.import_button:hover {
    background-color: rgb(39, 39, 219);
}

.import_button:active {
    color: white;
    background-color: red;
}